@import './variable';

%has-btn {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  padding: 15px 25px;
  border-radius: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  border-color: $secondary-text;
  background-color: $secondary-text;
  font-weight: 700;
  transition: all .3s ease;
  position: relative;

  &:hover {
    background-color: transparent;
  }
}

%has-btn-outline {
  @extend %has-btn;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.85);
  border-color: $secondary-text;
  background-color: transparent;

  &:hover {
    background-color: $secondary-text;
  }
}

::selection {
  padding: 10px;
  background-color: $secondary-bg;
  color: $secondary-text;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: $primary-bg;
  color: $primary-text;
  font-size: 1.2rem;
}

.main-nav {
  background-color: $secondary-bg !important;

  b-navbar-item {
    color: #008080 !important;
  }
}

.navbar.is-dark .navbar-start>a.navbar-item:focus,
.navbar.is-dark .navbar-start>a.navbar-item:hover,
.navbar.is-dark .navbar-start>a.navbar-item.is-active,
.navbar.is-dark .navbar-start .navbar-link:focus,
.navbar.is-dark .navbar-start .navbar-link:hover,
.navbar.is-dark .navbar-start .navbar-link.is-active,
.navbar.is-dark .navbar-end>a.navbar-item:focus,
.navbar.is-dark .navbar-end>a.navbar-item:hover,
.navbar.is-dark .navbar-end>a.navbar-item.is-active,
.navbar.is-dark .navbar-end .navbar-link:focus,
.navbar.is-dark .navbar-end .navbar-link:hover,
.navbar.is-dark .navbar-end .navbar-link.is-active,
.navbar.is-dark .navbar-brand>a.navbar-item:hover {
  background-color: $primary-bg !important;
  border-bottom: 1px solid $secondary-text;
}

.navbar {
  min-height: 4.2rem;
  border-bottom: 1px solid $secondary-bg;
}

a {
  &:hover {
    color: rgba($color: #000000, $alpha: 0.9);
  }
}

section {
  min-height: 90vh;
  display: flex;
}

#intro {
  align-items: center;
  position: relative;
  z-index: 2;



}

#about {
  background-color: $secondary-bg;
  align-items: center;

  .action-btn {
    margin-top: 25px;

    .btn {
      @extend %has-btn;

      &.outline {
        @extend %has-btn-outline;
      }
    }
  }

  .section-title {
    margin-bottom: 20px;

    h3 {
      color: $primary-text;
      position: relative;
      display: inline-block;

      &:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -10px;
        background-color: $secondary-text;
      }

    }
  }

  p {
    margin-bottom: 8px;

    strong {
      color: $secondary-text;
    }
  }

  img {
    width: 320px;
    border-radius: 10px;
    transform: scale(.95);
    filter: grayscale(1);
    transition: all 1s;
    position: relative;

    &:hover {
      transform: scale(1.1);
      filter: none;
    }
  }
}

#skill {
  background-color: $primary-bg;
}

%skill-card {
  position: relative;
  background-color: $secondary-bg;
  padding: 25px 25px 35px;
  margin: 15px;
  border-radius: 4px;
}

%skill-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  h4 {

    font-size: 22px;
    font-weight: 900;
    color: hsla(0, 0%, 100%, .85);
  }

  p {
    padding: 3px 5px;
    top: 25px;
    font-weight: 900;
    color: #fff;
    right: 15px;
  }
}

%skill-card-content {
  .progress-bar {
    position: absolute;
    background-color: #00cf5d;
    border-radius: 4px;

  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 30px);

}

.skills>:last-child {
  margin-right: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 15px);
}

.skills>:nth-child(2n - 1) {
  margin-left: 0;
}

.skills>:nth-child(2n) {
  margin-right: 0;
}

.skill-card {
  position: relative;
  background-color: #1d293a;
  padding: 25px 25px 35px;
  margin: 15px;
  border-radius: 4px;

  h4 {
    font-size: 22px;
    font-weight: 900;
    color: hsla(0, 0%, 100%, .85);
  }

  p {
    position: absolute;
    background-color: #00cf5d;
    border-radius: 4px;
    padding: 3px 5px;
    top: 25px;
    font-weight: 900;
    color: #fff;
    right: 15px;
  }

  .progress-bar {
    bottom: 0;
    left: 0;
    height: 10px;
    position: absolute;
    background-color: #00cf5d;
  }
}

#portfolio {
  background-color: $secondary-bg;

  .portfolio-card {
    background-color: $primary-bg;
    color: $primary-text;

    a {
      color: $secondary-text;
    }

    .subtitle,
    .title {
      color: $primary-text;
    }

    .media {
      margin-bottom: 10px !important;
    }
  }
}
